Repository stardustmeg/rest-client-app, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, styling

docs: add project description
  README.md
  husky_scripts/validate-staged.sh
Labels: documentation

build: add linter and formatter
  .github/workflows/ci.yml
  app/layout.tsx
  app/page.tsx
  biome.json
  husky_scripts/validate-staged.sh
  lint-staged.config.js
  package.json
  tsconfig.json
Labels: none

build: add chakra ui
  biome.json
  next.config.ts
  package.json
Labels: none

build: add chakra components examples
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/ui/color-mode.tsx
  components/ui/provider.tsx
  components/ui/toaster.tsx
  components/ui/tooltip.tsx
Labels: styling

build: update project configs
  .gitattributes
  .gitignore
  .npmrc
  biome.json
  components/ui/color-mode.tsx
  components/ui/toaster.tsx
  components/ui/tooltip.tsx
  lint-staged.config.js
  tsconfig.json
Labels: none

chore: update biome scripts
  package.json
Labels: none

docs: update project description
  .github/pull_request_template.md
  README.md
  biome.json
Labels: documentation

chore: update project favicon
  app/favicon.ico
Labels: none

build: add testing
  .github/workflows/ci.yml
  README.md
  app/__tests__/example.spec.ts
  app/__tests__/server/handlers.ts
  app/__tests__/server/index.ts
  app/__tests__/vitest-setup.ts
  app/components/ui/__tests__/Tooltip.spec.tsx
  package.json
  vitest.config.js
Labels: documentation

chore: update configs
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  biome.json
  husky_scripts/validate-commit.sh
  husky_scripts/validate-push.sh
  husky_scripts/validate-staged.sh
  next.config.ts
Labels: none

refactor: remove unused svgs
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Labels: none

refactor: update project structure
  app/__tests__/__mocks__/.gitkeep
  app/components/ui/ColorMode.tsx
  app/components/ui/Provider.tsx
  app/components/ui/Toaster.tsx
  app/components/ui/Tooltip.tsx
  app/layout.tsx
  app/main.css
  app/page.tsx
  app/types/.gitkeep
Labels: styling

chore: add test check to husky
  .husky/pre-push
  biome.json
Labels: none

feat: add internatiolization
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  app/messages/en.json
  app/messages/jp.json
  app/messages/ru.json
  biome.json
  i18n/request.ts
  i18n/routing.ts
  middleware.ts
  package.json
  tsconfig.json
  types.d.ts
Labels: none

feat: add global not found page
  app/global-not-found.tsx
  app/main.css
  next.config.ts
Labels: styling

docs: add project coding conventions
  CODING_CONVENTIONS.md
  biome.json
Labels: documentation

chore: add typecheck script
  .github/workflows/ci.yml
  .husky/pre-commit
  README.md
  package.json
Labels: documentation

style: add semi-colons
  app/[locale]/layout.tsx
  app/__tests__/example.spec.ts
  app/__tests__/server/handlers.ts
  app/__tests__/server/index.ts
  app/__tests__/vitest-setup.ts
  app/components/ui/ColorMode.tsx
  app/components/ui/Provider.tsx
  app/components/ui/Toaster.tsx
  app/components/ui/Tooltip.tsx
  app/components/ui/__tests__/Tooltip.spec.tsx
  app/global-not-found.tsx
  app/layout.tsx
  app/utils/.gitkeep
  i18n/request.ts
  i18n/routing.ts
  middleware.ts
  tsconfig.json
Labels: none

refactor: move main page
  app/[locale]/page.tsx
  app/page.tsx
Labels: none

style: follow coding conventions
  CODING_CONVENTIONS.md
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  app/components/ui/ColorMode.tsx
  app/components/ui/Provider.tsx
  app/global-not-found.tsx
  app/layout.tsx
Labels: documentation

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

build:
  - head-branch:
      - '^build'

ci:
  - head-branch:
      - '^ci'

chore:
  - any:
      - changed-files:
          - any-glob-to-all-files: '*'
      - head-branch:
          - '^chore'

feature:
  - head-branch:
      - '^feat'

fix:
  - head-branch:
      - '^fix'
      - '^hotfix'

refactor:
  - head-branch:
      - '^refactor'

test:
  - any:
      - head-branch:
          - '^test'
      - changed-files:
          - any-glob-to-any-file: '**/*.spec.ts?(x)'

revert:
  - head-branch:
      - '^revert'

styling:
  - changed-files:
      - any-glob-to-any-file: '**/*.css'
